<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="vikhyat_blog_save_after">
        <observer name="blog_indexer_save_after" instance="Vikhyat\BlogManager\Observer\BlogSaveAfterObserver" />
    </event>
    <event name="vikhyat_blog_delete_after">
        <observer name="blog_indexer_delete_after" instance="Vikhyat\BlogManager\Observer\BlogDeleteAfterObserver" />
    </event>
</config>