<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="vikhyat" translate="label" sortOrder="300">
            <label>Vikhyat POS</label>
        </tab>
        <section id="vikhyat" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>JWT Configuration</label>
            <tab>vikhyat</tab>
            <resource>Vikhyat_BlogManager::config</resource>
            <group id="jwt" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>JWT Settings</label>
                <field id="secret_key" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>JWT Secret Key</label>
                    <comment>Secret key used for JWT token signing. Leave empty to auto-generate.</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="expiry_time" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token Expiry Time (seconds)</label>
                    <comment>Default expiry time for JWT tokens in seconds. Default: 3600 (1 hour)</comment>
                    <validate>validate-digits validate-greater-than-zero</validate>
                </field>
                <field id="refresh_expiry_time" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Refresh Token Expiry Time (seconds)</label>
                    <comment>Expiry time for refresh tokens in seconds. Default: 604800 (7 days)</comment>
                    <validate>validate-digits validate-greater-than-zero</validate>
                </field>
            </group>
        </section>
        <section id="pos_general_setting" translate="label" type="text" sortOrder="20" showInDefault="1" showInStore="1" showInWebsite="1">
            <class>separator-top</class>
            <label>POS General Configuration</label>
            <tab>vikhyat</tab>
            <resource>Vikhyat_BlogManager::config</resource>
            <group id="general_setting" translate="label" type="text" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>POS General Setting</label>
                <field id="offline_mode" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Offline Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="single_cashier_login" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enable Single Cashier Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="pos_logo" translate="label comment" type="image" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>POS Logo</label>
                    <backend_model>Vikhyat\BlogManager\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">blogmanager/logo</upload_dir>
                </field>
            </group>
        </section>
        <section id="global_charge" translate="label" type="text" sortOrder="20" showInDefault="1" showInStore="1" showInWebsite="1">
            <class>separator-top</class>
            <label>Global Charge</label>
            <tab>vikhyat</tab>
            <resource>Vikhyat_BlogManager::config</resource>
            <group id="global_rate" translate="label" type="text" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                <label>Global Charge</label>
                <field id="grobal_rate_amount" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                    <label>Enter your global charge: </label>
                    <comment>e.g., global charge 20 %</comment>
                </field>
            </group>
        </section>
    </system>
</config>